<html>

  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <style type="text/css">
      .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">| Hill Cipher</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/machine">Encode/Decode</a>
          </li>
        </ul>
      </div>
    </nav>

    <title> Hill Cipher Machine </title>
  </head>
  <body style="background: #495a64; color: #ffffff;">
    <br><h1 style="text-align: center;"><strong>THE HILL CIPHER</strong><h1>
    <h2 style="text-align: center;"><strong>Educational Encoder/Decoder</strong></h2><br>
    <div class="accordion shadow-lg p-3 mb-5 rounded" id="accordionPanelsStayOpenExample" style="background-color: #404f58; margin: auto; width: 50%; margin-top: 50px;">
      <div class="accordion-item" style="background-color: inherit;">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: 20px; background-color: inherit; color: inherit">
            Hill Cipher
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <em>Github Repository: </em><a href="https://github.com/AAWorks/hill-cipher">Click Here</a>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="background-color: inherit;">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-size: 20px; background-color: inherit; color: inherit">
            About Us
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            This project was created by Alejandro Alonso and Andy Lin, two seniors at Stuyvesant High School. Together, they are...<br><em>the Maniacal Refrigerators</em>.
          </div>
        </div>
      </div>
      <div class="accordion-item" style="background-color: inherit;">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="font-size: 20px; background-color: inherit; color: inherit">
            Mentions
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            A huge thanks to Stuyvesant High School, Professor Sam Konstantinovich, and the Intertrash.
          </div>
        </div>
      </div>
    </div>
  </body>

</html>